@charset "UTF-8";

.q8-img {
  height: 500px;
  background-image: url(../../image/coffee-background.jpg);
}

.no-repeat {
  background-repeat: no-repeat;
}

.cover {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contain {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}